@media (max-width: 768px) {
    /*Fix container sizes*/
    .order-summary {
        width: 90% !important;
        padding-left: 5% !important;
        padding-right: 5% !important;
        margin: 2rem auto !important;
    }
    .giant-container {
        width: 90% !important;
        max-width: 100%;
        margin: 0rem auto; /* center it */
        padding-left: 0;
        padding-right: 0;
    }

    /*Undo email and phone being inline*/
    .contact-form .row {
        flex-direction: column;
    }
    .contact-form .field {
        flex: 1 1 100%;
    }

    /*Shipping method*/
    .option-group .option {
        display: flex;
        flex-direction: row; 
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap; 
        padding: 10px;
        border-bottom: 1px solid #ccc;
        cursor: pointer;
        gap: 10px;
    }
    .option-group .circle {
        flex-shrink: 0;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin: 0;
    }
    .option-group .price:first-of-type {
        display: none;
    }
    .option-group .price:last-of-type {
        flex-basis: 100%; 
        text-align: right; 
        margin: 5px 0 0 30px; 
        font-weight: 600;
        color: #3b3b3b;
    }
    .option-group .option::after {
        content: "";
        flex-grow: 1;
    }
    .option-group .option input {
        position: absolute; 
    }

    /*Payment*/
     .three-section-bar {
        width: 100%;           
        flex-direction: row;   
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        height: auto;         
        flex-wrap: wrap;      
    }
    .sec1 {
        flex: 0 0 auto;
    }
    .sec2 {
        flex: 1 1 0;          
        padding-left: 0;     
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .sec2-text .main {
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.2;
        margin-bottom: 0.5rem;
    }
    .sec2-text .sub {
        font-size: 0.85rem;
        color: #777;
        white-space: normal;    
        word-wrap: break-word;
        margin-top: 2px;
        line-height: 1.1;
    }
    .sec3 {
        flex: 0 0 auto;           
        width: 50px;              
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5px;         
    }
    .pay-icon, .pay-icon-small {
        width: 100%;
        margin-right: 1rem;
        height: auto;
    }
}