@media (max-width: 768px) {

    .top-bar {
        flex-direction: column;
        align-items: stretch;
        gap: 15px;
        padding: 15px;
    }

    .category-toggle {
        margin-left: 0;
        font-size: 20px;
        align-items: center;
        text-align: center;
    }

    .category-toggle.order-version {
        font-size: 18px;
    }

    .search-bar {
        max-width: none;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .checkbox-wrapper {
        margin-left: 0;
    }

}